html{
		
}

body {
  background-color: #212121;
  color: #ffffff;
  margin: 4rem;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  flex-direction: column;
}

#outer_div1{
 height: 40rem;
  width: 20rem;
  border: .2rem solid red;
  border-radius: 1rem;
  display: flex;
  align-items: start;
  flex-direction: column;
  /* justify-content: center; */
  overflow: hidden;
  margin: 0rem 0rem 1rem;
  background-color: rgb(244, 177, 177);
}




input {
  height: 8rem;
  width: 100%;
  background-color: rgb(132, 209, 132);
}


#btnDiv{
 background-color: red;
}


#btns{
	display: block;
}