html{
		
}

body {
  background-color: #212121;
  color: #ffffff;
  margin: 4rem;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

#outer_div{
  height: 30rem;
  width: 20rem;
  border: 2px solid red;
  border-radius: 1rem;
  display: flex;
  align-items: start;
  justify-content: center;
  overflow: hidden;
  
}

input {
  height: 8rem;
  width: 100%;
  background-color: rgb(132, 209, 132);
  display: block;
}